@{
    ViewBag.Title = "FindMinBolig";
}

<div class="jumbotron">
    <h1>Lejlighedder til alle</h1>
    <p class="lead">
        Hos FindMinBolig har vi samlet alle de de bedste lejemål til dig, der søger
        bolig, om du blot har lyst til at prøve noget nyt eller du søger 
        bolig til start dit studie, så har vi lejligheden du leder efter, søg blandt mere end... lejemål fordelt i hele landet.
    </p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Udforsk &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Aalborg</h2>
        <p>
            Søger du en lejlighed / bolig i eller omkring Aalborg
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Søg i Aalborg &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>København</h2>
        <p>
            Søger du bolig i Danmarks største by?.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Søg i København &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Aarhus</h2>
        <p>Søger du bolig i smilets by?.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Søg i Aarhus&raquo;</a></p>
    </div>
</div>